page-info {
  ion-content.content.content-ios  {
    background-color: #000 !important ;
  }
  .monument-image {
    position: relative;
    left: 28%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    //border:3px solid lightgrey;
    padding-bottom: 0px;
  }
  .monument-info {

    .monument-title {
      text-align: center;
      font-size: 150%;
      color: white;
      //padding-top: 2px;
      padding-bottom: 5px;
      margin-top: 60px;
      padding-top: 0px;
    }

    .navigationList {
      text-align: center;
    }

    .monument-description {
      color: #F5F5F5;
      padding: 15px;
      height: 290px;
      overflow: scroll;
    }
  }
}



