page-info {
  .banner {
    position: relative;
    margin: auto;
    height: 30%;
    background-image: url('../../../../../assets/imgs/CityCentre_overview_Antwerp.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .overlapse {
    overflow: hidden;
    height: 30%;
  }
  .monument-image {
    position: absolute;
    bottom: -30%;
    left: 25%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    border:3px solid lightgrey;

  }
  .monument-info {
    .monument-title {
      text-align: center;
      font-size: 150%;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #85b7e2;
      margin-top: 60px;
    }

    .monument-description {
      padding: 15px;
      background-color: #c2dbf0;
      height: 290px;
      overflow: scroll;
    }
  }
}



