<ion-header>
  <ion-navbar>
    <ion-title style="margin-right: 10%">{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content padding>

    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack" *ngIf="!currentList.length == 0">
      <ion-card  #mycards1 swing-card *ngFor="let monument of currentList; last as isLast;">


        <ion-item >
          <div>


            <div *ngIf="voteImg && isLast" #vote id="voteOverlay">
             <img (mousedown)="sendIndex(isLast)"id="img" #cardImages  style="height: 200px;width: 250px;"
                src="{{ voteImg }}">
            </div>


            <img id="card" style="object-fit: cover; height: 580px; width: 100%"
                 [src]="'http://localhost:8080/monuments/' + monument.id + '/image'">
            <div class="cardOverlay">
              <div class="monument-title"><strong>{{ monument.information[0].name }}</strong></div>
            </div>
          </div>
        </ion-item>


      </ion-card>
    </div>


    <div>
      <ion-row class="voting" *ngIf="!currentList.length == 0">
        <ion-col>
          <ion-icon class="nope" style="color: #DD0F58 !important;" name="thumbs-down" (click)="voteUp(false)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon class="like" style="color: #32db64 !important;" name="thumbs-up" (click)="voteUp(true)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div  *ngIf="currentList.length == 0">

      <form  [formGroup]="monumentsForm" >
        <ion-title style="text-align: center; background-color: #222222 !important;">
          <ion-label>{{ suggestion }}</ion-label>
        </ion-title>
        <ion-item>
          <ion-input type="text" formControlName="name" name="name" ></ion-input>
        </ion-item>
        <ion-title style="text-align: center; margin-bottom: 15px; background-color: #222222 !important;">
          <ion-label style="margin-bottom: 15px">{{ interests }}</ion-label>
        </ion-title>

        <div *ngFor="let monument of monumentNames" style="margin-bottom: 10px">
          <ion-item >
            {{ monument.name }}
          </ion-item>
        </div>
        <div class="icon">
          <ion-icon class="nope" style="margin-top: 10px; color: #DD0F58 !important" name="thumbs-down" (click)="getNewMonuments()"></ion-icon>
          <ion-icon class="like" style="margin-top: 10px; margin-left: 80%; ;color: #32db64 !important;" name="thumbs-up" (click)="sendRoutes()"></ion-icon>
        </div>
      </form>
    </div>
  </ion-content>

