<ion-header>
  <ion-navbar>
    <ion-title style="margin-right: 10%">{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content padding>
    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack" *ngIf="!currentList.length == 0">
      <ion-card #mycards1 swing-card *ngFor="let monument of currentList">
        <ion-item>
          <div *ngIf="monument.name">
            <div class="voteOverlay">
              <img src="{{ voteImg }}">
            </div>
            <img style="object-fit: cover; height: 580px; width: 100%"
                 [src]="'http://localhost:9000/monuments/' + monument.id + '/image'">
            <div class="cardOverlay">
              <div class="monument-title"><strong>{{ monument.name }}</strong></div>
            </div>
          </div>
        </ion-item>

      </ion-card>
    </div>

    <div>
      <ion-row class="voting" *ngIf="!currentList.length == 0">
        <ion-col>
          <ion-icon id="nope" name="thumbs-down" (click)="voteUp(false)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon id="like" name="thumbs-up" (click)="voteUp(true)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div  *ngIf="currentList.length == 0">

      <form  [formGroup]="monumentsForm" >
        <ion-title style="text-align: center">
          <ion-label>Sugestie Route</ion-label>
        </ion-title>
        <ion-item>
          <ion-input type="text" formControlName="name" name="name" ></ion-input>
        </ion-item>
        <ion-title style="text-align: center; margin-bottom: 15px">
          <ion-label style="margin-bottom: 15px">Jouw Interesses</ion-label>
        </ion-title>
        <ion-list *ngFor="let monument of monumentNames">
          <ion-item>
            {{ monument.name }}
          </ion-item>
        </ion-list>
        <div class="icon">
          <ion-icon id="nope" name="thumbs-down" (click)="getNewMonuments()"></ion-icon>
          <ion-icon id="like" name="thumbs-up" (click)="sendRoutes()"></ion-icon>
        </div>

      </form>
    </div>
  </ion-content>

