<ion-header>
  <ion-navbar>
    <ion-title translate>MYROUTE.TITLE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="receivedRoutes as route; index">
    <ion-list>
      <ion-title style="margin-bottom: 15px" translate>
        MYROUTE.TITLE_PLANNED
      </ion-title>
      <ion-item (click)="onOpenRoute(route)">
          {{ route.routeTitle }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="completedRoutes">
    <ion-list>
      <ion-title style="margin-bottom: 15px" translate>
        MYROUTE.TITLE_DONE
      </ion-title>
      <ion-item *ngFor="let route of completedRoutes" (click)="onOpenRoute(route)">
        {{monumentNames }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>

