
<ion-header>
  <ion-navbar>
    <ion-title>Mijn Routes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="receivedRoutes as route; index">
    <ion-list>
      <ion-title style="margin-bottom: 15px">
        Geplande Routes
      </ion-title>
      <!--<ion-item *ngFor="let route of receivedRoutes" (click)="onOpenRoute()">
        {{route.information[0].name }}
      </ion-item>-->
      <ion-item (click)="onOpenRoute()" *ngIf="dateVariable as date">
          Gekozen monumenten op {{ date }}: {{ route }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="completedRoutes">
    <ion-list>
      <ion-title style="margin-bottom: 15px">
        Afgelegde Routes
      </ion-title>
      <ion-item *ngFor="let route of completedRoutes" (click)="onOpenRoute()">
        {{route.information[0].name }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>

