#list {
  text-align: center;
  //margin-top: 10%;
  //padding: 5%;

  .menu-button {
    position: relative;
    margin-bottom: 10%;
  }

  .button {
    background-color: black !important;
  }
}


  //background-color:#DD0F58 !important;








