#list {
  text-align: center;
  //margin-top: 10%;
  //padding: 5%;

  .menu-button {
    display: block;
    margin: 0 0 0;
    width: 100%;
    margin-bottom: 10%;
    background-color:#DD0F58;
  }
}


  //background-color:#DD0F58 !important;








